<section id="header">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top ">
      <div class="container">
        <a class="navbar-brand" href="/members"><p><img src="images/raven-logo.png"> Ravens Athletic</p> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item ">
              <a class="nav-link nav_option text-white" href="/tennis">Reserve Tennis Court</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link nav_option text-white" href="/pool">View Pool Hours</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link nav_option  text-white" href="/basketball">View Basketball
                Hours</a>
            </li>

            <a class="btn btn-primary logout" href="/logout" role="button" style="font-size: 15px;">Log
              Out</a>
          </ul>

        </div>
      </div>
    </nav>

  </div>
</section>


<section class="main">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-sm-4 mt-4">
        <div class="card profile-card-5 m-5 p-5">
          <div class="card-img-block">
            <img class="card-img-top" src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c"
              alt="Card image cap">
          </div>
          <div class="card-body pt-0">
            <h5 class="card-title">User Profile</h5>

            <p class="userInfo" id="username"> Username : {{ user_name }}</p>
            <p class="userInfo" id="name"> Name : {{ name }}</p>
            <p class="userInfo"  id="memberid"> Member id : {{ member_id }}</p>
            <p class="userInfo"  id="membersince"> Member since : {{ member_since }}</p>
             <p class="userInfo"  id="favorite-activity"> Favorite Activity : {{ favorite_activity }}</p>
            <p class="userInfo"  id="skill-input"> Skill Level : {{ skill_level }}</p>

            {{#if partner}}
            <p class="userInfo"  id="partner"> Looking for tennis partner : YES</p>
            {{else}}
            <p class="userInfo"  id="partner"> Looking for tennis partner : NO</p>
            {{/if}}
            
            <!-- <p><i class="fa fa-map-marker" aria-hidden="true"></i> New Jersey, USA.</p> -->

            <a href="#" class="btn btn-primary">Edit</a>
          </div>
        </div>

      </div>
      <div class="detail-info col-sm-7 bg-light m-5 p-5 border-rounded">
        <div class="card">
          <div class="card-header bg-primary ">
            <div class="row">
              <div class="col-sm-12 text-center pb-2">
                <h2 class="pageHeader">Ravens Athletic Club</h2>
                <h4 id="home_name">Welcome, {{ name }} </h4>
              </div>
            </div>
          </div>