<section id="header">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/members">
          <p><img src="images/raven-logo.png"> Ravens Athletic</p>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item ">
              <a class="nav-link nav_option text-white" href="/tennis">Reserve Tennis Court</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link nav_option text-white" href="/pool">View Pool Hours</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link nav_option  text-white" href="/basketball">View Basketball
                Hours</a>
            </li>

            <li class=" nav-item"><a class="nav_option btn btn-dark logout" href="/logout" role="button">Log
                Out</a></li>
          </ul>

        </div>
      </div>
    </nav>

  </div>
</section>


<section class="main">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="card profile-card-5 ml-5 mt-5 pt-5">
          <div class="card-img-block text-center">
            <img class="card-img-top" src="images/imagePlaceHolder.png"
              alt="Card image cap">
          </div>
          <div class="card-body memberProfile pt-0 ml-5">
            <h5 class="card-title">User Profile</h5>

            <form class="form">
              <div class="form-group">
                <label class="control-label">
                  <h4>Username</h4>
                </label>

                <input class="form-control mt-0 shadow-lg" id="username" type="text" value="{{ user_name }}" disabled>

                <label class="control-label">
                  <h4>Name</h4>
                </label>
                <input class="form-control shadow-lg" id="name" type="text" value="{{ name }}" disabled>

                <label class="control-label">
                  <h4>Member id</h4>
                </label>
                <input class="form-control shadow-lg"  type="text" value="{{ member_id }}" disabled>

                <label class="control-label">
                  <h4>Member since</h4>
                </label>
                <input class="form-control shadow-lg"  type="text" value="{{ member_since }}" disabled>

                <label class="control-label">
                  <h4>Favorite Activity</h4>
                </label>
                <input class="form-control shadow-lg" id="favoriteactivity" type="text" value="{{ favorite_activity }}" disabled>

                <label class="control-label">
                  <h4>Skill Level</h4>
                </label>
                <input class="form-control" id="skilllevel" type="text" value="{{ skill_level }}" disabled>

                {{#if partner}}
                <label class="control-label">
                  <h4>Looking for tennis partner </h4>
                </label>
                <input class="form-control userInfo shadow-lg" id="partner" type="text" value="Yes" disabled>

                {{else}}
                <label class="control-label">
                  <h4>Looking for tennis partner </h4>
                </label>
                <input class="form-control userInfo shadow-lg" id="partner" type="text" value="No" disabled="true">
                {{/if}}

              </div>
            </form>

            <div class="text-center">

              <button href=""  class="btn btn-dark" id="editUser">Edit</button>
                <button class="btn btn-dark" id="saveUser" >Save</button>
            </div>
          </div>
        </div>

      </div>
      <div class="detail-info col-sm-7 bg-light mt-5 p-5">
        <div class="card">
          <div class="card-header detailHeader">
            <div class="row">
              <div class="col-sm-12 text-center pb-2">
                <h2 class="pageHeader  text-white">Ravens Athletic Club</h2>
                <h4 class=" text-white" id="home_name">Welcome, {{ name }} </h4>
              </div>
            </div>
          </div>