  <nav class="navbar navbar-default">    
  <div class="container-fluid">          
    <a class="navbar-brand" href="/logout">      
      <div class="logout">
     Logout</div>
    </a>
    
<ul>
      <li><i class="far fa-calendar-check"></i>&nbsp;&nbsp;<a href="tennis.html">Reserve A Tennis Court</a></li>  
      <li><i class="fas fa-swimmer"></i>&nbsp;&nbsp;<a href="pool.html">View Pool Hours</a></li>
      <li><i class="fas fa-basketball-ball"></i>&nbsp;&nbsp;<a href="basketball.html">View Basketball Hours</a></li>
      <li><i class="fas fa-feather-alt"></i>&nbsp;&nbsp;<a href="members.html">Edit Profile</a></li>                  
</ul>


    <div class="navbar-header">
    
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="member-profile">
            {{#each members}}

          <img id="memberPic" img src="user-icon.png" alt="user icon"><br>

          <p id="username">username : {{username}}</p>
          <p id="memberid">member id : {{memberid}}</p>
          <p id="membersince">member since : {{membersince}}</p>
          <p id="name">Name : {{name}}</p>
          <p id ="favorite-activity">favorite activity : {{favorite-activity}}</p>
          <p id ="skill-input">Skill Level : {{skill-input}}</p>
          <p id ="partner">looking for tennis partner : {{partner}}</p>

           {{/each}}

        </div>
      </div>
<div class="welcome-page">
  <h1><div class="pageHeader">Ravens Athletic Club</div></h1>
  Welcome, membername<br>

  <h2><u><b>BASKETBALL FREE PLAY HOURS</u></b></h2>
  <h6>
    <p>Sunday, 10 AM - 2 PM</p><br>
    <p>Monday, 7 AM - 5 PM</p><br>
    <p>Tuesday, 7 AM - 5 PM</p><br>
    <p>Wednesday, 7 AM - 5 PM</p><br>
    <p>Thursday, 7 AM - 5 PM</p><br>
    <p>Friday, 7 AM - 5 PM</p><br>
    <p>Saturday, 9 AM - 5 PM</p><br>
  </h6>
</div>
    </div>
    <div class="ravenLogo"><img id="logo" img src="raven-logo.png"></div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/members.js"></script>