
  {{> memberCommonLayout}}

          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header">
                    <h3 id="home_name">Your coming reservations </h3>
                  </div>
                  <div class="card-body pl-5">
                    <ol>
                      <li><h5> {{ court-numb }} scheduled at {{ schedule }}</h5></li>
                      <li><h5> {{ court-numb }} scheduled at {{ schedule }}</h5></li>
                      <li><h5> {{ court-numb }} scheduled at {{ schedule }}</h5></li>
                      <li><h5> {{ court-numb }} scheduled at {{ schedule }}</h5></li>
                    </ol>
                  </div>
                </div>

              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body pl-5">
                    <img class="logoImage"
                      src="https://i.pinimg.com/236x/93/c7/35/93c7351ae749099af9cfcbf8214d3ce9--bilbao-athletic.jpg">
                  </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title" id="home_name">We have partnered you with </h5>
                    <ol>
                      <li>Player 1(name) Court 3 scheduled at Tuesday 10am</li>
                      <li>Player 3(name) Court 2 scheduled at Tuesday 2am</li>
                      <li>Player 2(name) Court 1 scheduled at Tuesday 9am</li>
                    </ol>

                    <a href="#" id="home_name" class="btn btn-primary">Reschedule</a>
                  </div>
                </div>
                <h3 id="home_name">We have partnered you with </h3>

              </div>
              <div class="col-sm-5">
                <div class="card">
                  <div class="card-body">
                    <h3 id="home_name">Trainers near you </h3>
                    <ul>
                      <li><a>James Craine</a></li>
                      <li><a>Femi Fagbure</a></li>
                      <li><a>Mesay Bekele</a></li>
                      <a href="#" class="btn btn-primary">Contact</a>

                    </ul>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>



      </div>



      <!-- remove -->
      <div class="row user-social-detail">

        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>

      </div>
      <!-- remove -->




    </div>
  </div>
  </div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></sc