{{> memberCommonLayout}}

<div class="card-body">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header text-center">
          <h3 id="home_name">Your coming reservations </h3>
          <h4 id="current_time"></h4>
        </div>
        <div class="card-body">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Court</th>
                <th>Start</th>
                <th>End</th>
              </tr>
            </thead>
            <tbody>
              {{#each reserationsList}}
              <tr>
                <td>{{this.court}}</td>
                <td>{{this.start}}</td>
                <td>{{this.end}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>

        </div>
      </div>

    </div>
    <div class="col-sm-4 text-center">
      <img class="logoImage" src="images/clubImage.png">
      {{!-- <div class="card">
        <div class="card-body pl-5">
          <img class="logoImage" src="images/clubImage.png">
        </div>
      </div> --}}

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h3 class="pl-5" id="home_name">Next Game with </h3>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Player Name</th>
                <th>Partner Name</th>
                <th>Court</th>
                <th>Start</th>
                <th>Skill Level</th>
                <th>End</th>
                <th>Cancel</th>
              </tr>
            </thead>
            <tbody>
              {{#each partnerReservationList}}
              <tr>
                <td>{{this.name}}</td>
                <td>{{this.PartnerName}}</td>
                <td>{{this.court}}</td>
                <td>{{this.startTime}}</td>
                <td>{{this.skillLevel}}</td>
                <td>{{this.end}}</td>
                <td>
                  <div class="btn btn-danger cancelJoin" data-reservationId={{this.reservationId}}>Cancel</div>
                </td>
              </tr>
              {{/each}}

            </tbody>
          </table>
          {{!-- <ul class="pagination">
            <li><a class="paginate" >1</a></li>
            <li class="active"><a  class="paginate">2</a></li>
            <li><a class="paginate">3</a></li>
            <li><a class="paginate">4</a></li>
            <li><a class="paginate">5</a></li>
          </ul> --}}
        </div>
      </div>
    </div>

  </div>
</div>



</div>





</div>
</div>
</div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>